---
layout: default
title: "Gallery Painting"
---

<!-- Gallery -->
<div id="portfolio" class="section gray">
  <div class="container">
    <div class="b row">
      <div class="col l4 m6 s12 gallery-item ce all">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
            <span class="card-title">Info</span>
            <p>Selamat Datang, semoga tertarik dengan barang jualan kami</p>
            </div>
            <div class="card-action">
            </div>
        </div>
      </div>
      {% for post in site.posts %}
        <div class="col l4 m6 s12 gallery-item gallery-expand ce {{ post.categories }}">
          <div class="gallery-curve-wrapper">
            <a class="gallery-cover gray">
              <img class="responsive-img" src="{{ post.image }}" alt="placeholder" crossOrigin="anonymous">
            </a>
            <div class="gallery-header">
              <span>{{ post.title }}</span>
            </div>
            <div class="gallery-body">
              <div class="title-wrapper">
                <h3>{{ post.title }}</h3>
                <span class="gj">{{ post.artist }} - {% include date.html date=post.date %}</span>
              </div>
              <p class="fi">{{ post.description }} {{ post.description }} {{ post.description }} {{ post.description }} {{ post.description }} {{ post.description }} {{ post.description }} {{ post.description }} {{ post.description }} {{ post.description }} {{ post.description }}</p>
              <br>
              <p class="fi"> Harga: {{ post.harga }}</p>
              <!--<p class="fi"></p>-->
            </div>
            <div class="gallery-action">
              <a class="btn-floating btn-large waves-effect waves-light"><i class="material-icons">favorite</i></a>
            </div>
          </div>
        </div>
      {% endfor %}

    </div>

  </div>

</div><!-- /.container -->

<div class="fixed-action-btn click-to-toggle">
  <a id="bg-control" class="btn-floating btn-large green darken-4 pulse tooltipped" data-position="left" data-delay="50" data-tooltip="Chat WhatsApp">
      <i class="material-icons">chat</i>
  </a>
  <!-- <ul>
      <li><a id="vid_control" class="btn-floating btn-large red tooltipped" onclick="playVid();"><i class="material-icons large">play_arrow</i></a></li>
      <li><a class="btn-floating grey darken-3 waves-effect tooltipped" onclick="nextVideo();" data-position="left" data-delay="50" data-tooltip="Next Video"><i class="material-icons">skip_next</i></a></li>
      <li><a class="btn-floating grey darken-3 waves-effect tooltipped" onclick="prevVideo();" data-position="left" data-delay="50" data-tooltip="Previous Video"><i class="material-icons">skip_previous</i></a></li>
      <li><a class="btn-floating grey darken-3 waves-effect tooltipped" onclick="setVolume('up');" data-position="left" data-delay="50" data-tooltip="Volume Up"><i class="material-icons">volume_up</i></a></li>
      <li><a class="btn-floating grey darken-3 waves-effect tooltipped" onclick="setVolume('down');" data-position="left" data-delay="50" data-tooltip="Volume Down"><i class="material-icons">volume_down</i></a></li>
  </ul> -->
</div>

<!-- Tap Target Structure -->
<div class="tap-target white-text" style="background-color: #3a3a3a;" data-activates="bg-control">
  <div class="tap-target-content font-style">
      <h1>Selamat Datang</h1>
      <p>Silahkan chat kami disini untuk informasi atau pemesanan</p>
  </div>
</div>